IDBrowserServiceTest/Service References/IDBrowserService/Service5.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:9448/Service.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/IDBrowserServiceCode" />
  <xs:import schemaLocation="http://localhost:9448/Service.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/Message" />
  <xs:import schemaLocation="http://localhost:9448/Service.svc?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="GetImageProperties">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="guid" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetImagePropertiesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/IDBrowserServiceCode" minOccurs="0" name="GetImagePropertiesResult" nillable="true" type="q1:ArrayOfImageProperty" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetImagePropertyThumbnail">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="guid" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="isCategory" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetImagePropertyThumbnailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.microsoft.com/Message" name="GetImagePropertyThumbnailResult" type="q2:StreamBody" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCatalogItems">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="orderDescending" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="propertyGuid" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCatalogItemsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/IDBrowserServiceCode" minOccurs="0" name="GetCatalogItemsResult" nillable="true" type="q3:ArrayOfCatalogItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCatalogItemsByFilePath">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="orderDescending" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="filePathGuid" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCatalogItemsByFilePathResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/IDBrowserServiceCode" minOccurs="0" name="GetCatalogItemsByFilePathResult" nillable="true" type="q4:ArrayOfCatalogItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetImageThumbnail">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="type" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="imageGuid" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetImageThumbnailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.microsoft.com/Message" name="GetImageThumbnailResult" type="q5:StreamBody" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetImage">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="imageGuid" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetImageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.microsoft.com/Message" name="GetImageResult" type="q6:StreamBody" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetResizedImage">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="width" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="height" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="imageGuid" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetResizedImageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.microsoft.com/Message" name="GetResizedImageResult" type="q7:StreamBody" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetImageInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="imageGuid" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetImageInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/IDBrowserServiceCode" minOccurs="0" name="GetImageInfoResult" nillable="true" type="q8:ImageInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRandomImageGuids">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRandomImageGuidsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetRandomImageGuidsResult" nillable="true" type="q9:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchImageProperties">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="searchString" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchImagePropertiesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/IDBrowserServiceCode" minOccurs="0" name="SearchImagePropertiesResult" nillable="true" type="q10:ArrayOfImagePropertyRecursive" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCatalogItemImageProperties">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="catalogItemGUID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCatalogItemImagePropertiesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/IDBrowserServiceCode" minOccurs="0" name="GetCatalogItemImagePropertiesResult" nillable="true" type="q11:ArrayOfImagePropertyRecursive" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddCatalogItemDefinition">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="propertyGuid" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="catalogItemGUID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddCatalogItemDefinitionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddCatalogItemDefinitionResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteCatalogItemDefinition">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="propertyGuid" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="catalogItemGUID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteCatalogItemDefinitionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteCatalogItemDefinitionResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddImageProperty">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="propertyName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="parentGUID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddImagePropertyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddImagePropertyResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFile">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="imageGuid" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFileResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.microsoft.com/Message" name="GetFileResult" type="q12:StreamBody" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFilePaths">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFilePathsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/IDBrowserServiceCode" minOccurs="0" name="GetFilePathsResult" nillable="true" type="q13:ArrayOfFilePath" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetImagePropertiesSoap">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="guid" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetImagePropertiesSoapResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/IDBrowserServiceCode" minOccurs="0" name="GetImagePropertiesSoapResult" nillable="true" type="q14:ArrayOfImageProperty" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetImagePropertyThumbnailSoap">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="guid" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="isCategory" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetImagePropertyThumbnailSoapResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.microsoft.com/Message" name="GetImagePropertyThumbnailSoapResult" type="q15:StreamBody" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCatalogItemsSoap">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="orderDescending" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="propertyGuid" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCatalogItemsSoapResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/IDBrowserServiceCode" minOccurs="0" name="GetCatalogItemsSoapResult" nillable="true" type="q16:ArrayOfCatalogItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCatalogItemsByFilePathSoap">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="orderDescending" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="filePathGuid" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCatalogItemsByFilePathSoapResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/IDBrowserServiceCode" minOccurs="0" name="GetCatalogItemsByFilePathSoapResult" nillable="true" type="q17:ArrayOfCatalogItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetImageThumbnailSoap">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="type" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="imageGuid" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetImageThumbnailSoapResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.microsoft.com/Message" name="GetImageThumbnailSoapResult" type="q18:StreamBody" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetImageSoap">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="imageGuid" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetImageSoapResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.microsoft.com/Message" name="GetImageSoapResult" type="q19:StreamBody" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetResizedImageSoap">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="width" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="height" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="imageGuid" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetResizedImageSoapResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.microsoft.com/Message" name="GetResizedImageSoapResult" type="q20:StreamBody" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetImageInfoSoap">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetImageInfo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetImageInfoSoapResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/IDBrowserServiceCode" minOccurs="0" name="GetImageInfoSoapResult" nillable="true" type="q21:ImageInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRandomImageGuidsSoap">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRandomImageGuidsSoapResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetRandomImageGuidsSoapResult" nillable="true" type="q22:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchImagePropertiesSoap">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="searchString" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchImagePropertiesSoapResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/IDBrowserServiceCode" minOccurs="0" name="SearchImagePropertiesSoapResult" nillable="true" type="q23:ArrayOfImagePropertyRecursive" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCatalogItemImagePropertiesSoap">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="catalogItemGUID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCatalogItemImagePropertiesSoapResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/IDBrowserServiceCode" minOccurs="0" name="GetCatalogItemImagePropertiesSoapResult" nillable="true" type="q24:ArrayOfImagePropertyRecursive" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddCatalogItemDefinitionSoap">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="propertyGuid" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="catalogItemGUID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddCatalogItemDefinitionSoapResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddCatalogItemDefinitionSoapResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteCatalogItemDefinitionSoap">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="propertyGuid" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="catalogItemGUID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteCatalogItemDefinitionSoapResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteCatalogItemDefinitionSoapResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddImagePropertySoap">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="propertyName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="parentGUID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddImagePropertySoapResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddImagePropertySoapResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFileSoap">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="imageGuid" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFileSoapResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.microsoft.com/Message" name="GetFileSoapResult" type="q25:StreamBody" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFilePathsSoap">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFilePathsSoapResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/IDBrowserServiceCode" minOccurs="0" name="GetFilePathsSoapResult" nillable="true" type="q26:ArrayOfFilePath" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>